---
import Layout from "../layouts/Layout.astro";
import { pageInfo } from "../config/constants";
const pageKey = "top";
const { pageTitle, pageClass } = pageInfo[pageKey];
---

<Layout pageTitle={pageTitle} pageClass={pageClass}>
  <p>テキスト</p>
</Layout>
<style lang="scss">
  p {
    @include bp(sp) {
    }
  }
</style>
