---
import Layout from "../layouts/Layout.astro";
import { pageInfo } from "../libs/constants";
const pageKey = "top";
const className = "pageTop";
const { pageTitle } = pageInfo[pageKey];

const title = pageTitle;
---

<Layout pageTitle={title} pageClass={className}>
  <p>テキスト</p>
 
</Layout>
<style lang="scss">
  p {
    @include bp(sp) {
    }
  }
</style>
