---
// import styles from "../assets/styles/component/Header.module.scss";

// import { Image } from "astro:assets";
---

<div id="hero" class="hero"></div>

<script></script>
<style lang="scss"></style>
